.footer {
  width: 100%;
  height: 3vh;
  background-color: #5ac17d;
  position: relative;

  h1,
  a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 2vh;
    text-decoration: none;
  }
}